node_modules
*.xml
!pom.xml
*.java
*.ts
*.class
*.iml
.idea
.project
.classpath
.settings/
target/
bin/
gen/
j2me/games/platform/AllBinaryGameClientNoPlatformJavaDocApplicationM/src

/automation/InputAutomationJavaApplicationM/src/main/resources
/automation/InputAutomationGenericModuleJavaLibraryM/src/main/resources
